{% extends "base.html" %}
{% block title %}Expense Report{% endblock %}
{% block content %}

<h2 align="center">Expense Report by Date</h2>

{% if grouped_expenses %}
  {% for date, expenses in grouped_expenses.items() %}
    <div class="card mt-4">
      <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
        <span>{{ date }}</span>
        
      </div>
      <ul class="list-group list-group-flush">
        {% for expense in expenses %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ expense.category }}</span>
            <strong>₱{{ "%.2f"|format(expense.amount) }}</strong>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between font-weight-bold">
          <span>Total for the day:</span>
          <span>₱{{ "%.2f"|format(expenses|map(attribute='amount')|sum) }}</span>
        </li>
      </ul>
    </div>
  {% endfor %}
{% else %}
  <p>No expenses found.</p>
{% endif %}
<div class="mb-4"></div>
  <a href="{{ url_for('views.export_csv') }}" class="btn btn-success mb-3">Download CSV Report</a>
  <a href="{{ url_for('views.download_report') }}" class="btn btn-primary">Download PDF Receipt</a>
</div>

{% endblock %}